{% extends "base.html" %}
{% block content %}
<nav-bar></nav-bar>
<body>
    <hero-section :src="'{{ url_for('static', filename='images/hero.png') }}'"></hero-section>
    <donate-section></donate-section>
    <div class="spacer layer1"></div>
    <about-section></about-section>
    <div class="spacer layer2"></div>
    <policies-section></policies-section>
    <footer class="footer-header">
        <p class="footer-content">Thank you for reviewing mymy page <br>Please vote for me on November 5th as your next township supervisor</p>
    </footer>
</body>

{% endblock %}
