:root {
    --cream-color: #f5f5dc; /* Cream */
    --accent-color-red: #7D0719; /* Dark red */
    --accent-color-blue: #000080; /* Blue */
    --bg-color: #012335; /* Background color */
    --text-color: #F7FEFF; /* Text color */
    --text-light: #E54823; /* Light text color for gradients */
    --font-family: 'Roboto', sans-serif; /* Font family */
    --font-size-base: 16px; /* Base font size */
    --space-sm: 8px; /* Small space */
    --space-md: 16px; /* Medium space */
    --space-lg: 32px; /* Large space */
    --space-xl: 64px; /* Extra large space */
    --border-radius: 8px; /* Border radius */
    --box-shadow-base: 0 4px 6px rgba(0,0,0,0.1); /* Base box shadow */
    --box-shadow-hover: 0 5px 15px rgba(0,0,0,0.3); /* Hover box shadow */
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-size-base);
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

section {
    padding: var(--space-xl) var(--space-md);
    text-align: center;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.container, .container-header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    width: 100%; /* Ensure full width */
}

img.img-fluid, .feature-img, .class-img, .testimonial-img {
    width: 100%;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-base);
    object-fit: cover;
}

/* Sticky Navbar */
#main-nav {
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure navbar is above other content */
    background-color: var(--bg-color); /* Navbar background color */
}

#main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0; /* Reset default margin */
    display: flex;
    gap: var(--space-md);
    justify-content: center;
    align-items: center; /* Align items vertically */
}

#main-nav ul li a {
    text-decoration: none;
    color: var(--accent-color-red);
    padding: var(--space-sm) var(--space-md);
    border: 2px solid var(--cream-color);
    background-color: var(--cream-color);
    border-radius: var(--border-radius);
    transition: background-color 0.3s, color 0.3s;
}

#main-nav ul li a:hover, #main-nav ul li a.active {
    background-color: var(--accent-color-red);
    color: var(--cream-color);
}

/* Fading line under the navbar */
.container-header:after {
    content: '';
    display: block;
    width: 100%; /* Adjusted to full width */
    height: 3px;
    background: linear-gradient(to right, rgba(0,0,0,0), var(--cream-color),rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1.5s forwards;
}

@keyframes fadeInAnimation {
    to {
        opacity: 1;
    }
}
