:root {
    --section-curve-height: 100px;
    --cream-color: #f5f5dc;
    --accent-color-red: #7D0719;
    --accent-color-blue: #000080;
    --bg-color: #012335;
    --text-color: #F7FEFF;
    --text-light: #E54823;
    --font-body-family: "Cormorant Garamond", serif;
    --font-header-family: "Proza Libre", sans-serif;
    --font-weight-normal: 500;
    --font-size-base: 24px;
    --font-size-large: 64px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xl: 64px;
    --border-radius: 8px;
    --box-shadow-base: 0 4px 6px rgba(0,0,0,0.1);
    --box-shadow-hover: 0 5px 15px rgba(0,0,0,0.3);
    --space-section: 724px;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-body-family);
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.6;
}

section, .container, .container-header {
    margin: 0 auto;

    place-items: center;
    align-content: center;
}

.hidden {
    opacity: 0;
}

.cream-bg {
    background-size: cover;
    width: 100%;
    color: #210000;
    background-color: var(--cream-color);
}

.spacer {
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('./layer1.svg');
}

.layer2 {
    background-image: url('./layer1.svg');
    transform: scale(1, -1);
    transform-origin: center;
}

.show {
    opacity: 1;
}

img {
    max-width: 100%;
    height: auto;
}

img.img-fluid {
    width: 100%;
    max-width: 1200px;
    height: auto;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-base);
    object-fit: cover;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

#main-nav {
    background-color: var(--bg-color);
    font-family: var(--font-header-family);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: var(--space-md);
}

#main-nav ul {
    list-style: none;
    display: flex;
    gap: var(--space-md);
    align-items: center;
    padding: 0;
    margin: 0;
}

#main-nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    padding: var(--space-sm);
    border-radius: var(--border-radius);
    transition: background-color 0.3s, color 0.3s;
}

#main-nav ul li a:hover, #main-nav ul li a.active {
    background-color: var(--accent-color-red);
    color: var(--cream-color);
}


.container-header:after {
    content: '';
    background-color: transparent;
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, rgba(0,0,0,0), var(--accent-color-red), rgba(0,0,0,0));
    position: absolute;
    bottom: 0;
}

.footer-header {
    background-color: transparent;
    display: block;
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, rgba(0,0,0,0), var(--accent-color-red), rgba(0,0,0,0));
    bottom: 0;
}

p.footer-content {
    
justify-content: center;
    
display: flex;
    
padding: 25px;
}
.quote1, .quote2 {
    
font-style: italic;
    
font-size: 1.2rem;
    
line-height: 1.6;
    
margin: 2rem 0;
    
padding: 1rem;
    
margin-left: 2rem; /* Add left margin */
    
margin-right: 2rem; /* Add right margin */
    
position: relative;
    
max-width: 444px;
    
/* justify-content: center; */
    
display: inline-block;
  }
  
  .quote1 {
    border-left: 4px solid var(--accent-color-red);
  }
  
  .quote2 {
    border-right: 4px solid var(--accent-color-red);
  }
  
  .quote1::before, .quote2::after {
    content: '"';
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
  }
  
  .quote1::before {
    left: 0.5rem;
    top: 0.5rem;
  }
  
  .quote2::after {
    /* left: 0.5rem; */
    bottom: 1.0rem;
  }

.hero-title {
    font-size: var(--font-size-large);
    font-family: var(--font-header-family);
    font-weight: var(--font-weight-normal);
    margin-top: -2vw;
}

body, .text-content {
    text-align: center;
}

.text-content, p, h1, h2, h3, h4, h5, h6 {
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    padding: 0 var(--space-md);
}


.hero-image-wrapper {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-image {
    z-index: -1;
    position: relative;
    width: 100%;
    max-width: 1200px;
    height: auto;
    animation: fadeInAnimation 1.5s ease-out forwards;

    object-fit: cover;
    transition: transform 0.3s ease-out;
}


@keyframes fadeInAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
}

.photos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: var(--space-md);
}

.about-photos {
    display: grid;
    justify-content: center;
    gap: var(--space-md);
    margin-top: var(--space-lg);
}

.about-section {
    background-color: var(--cream-color);
    color: var(--bg-color); /* Assuming --bg-color is a dark color for contrast */
    font-family: var(--font-body-family);
    font-size: calc(var(--font-size-base) * 1.1); /* Slightly larger font size */
    font-weight: var(--font-weight-normal);
    line-height: 1.8; /* Increased line height for better readability */
    padding: var(--space-xl) var(--space-md);
    text-align: center;

}

.donate-button {
    font-size: calc(var(--font-size-base) * 1.5); /* Increase the font size */
    padding: calc(var(--space-sm) * 2) calc(var(--space-lg) * 2); /* Increase padding */
    background-color: var(--accent-color-red);
    color: var(--cream-color);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s;
}

.video-wrapper {
    margin-top: var(--space-lg);
}


.policies-section {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-body-family);
    font-size: var(--font-size-base);
    padding: var(--space-xl) var(--space-md);
    text-align: center;
}

.policies-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-lg);
    margin-top: var(--space-lg);
}

.policy-card {
    background: var(--cream-color);
    color: var(--bg-color);
    padding: var(--space-md);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-base);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-left: 5px solid var(--accent-color-red);
}

.policy-card:hover {
    transform: translateY(-10px);
    box-shadow: var(--box-shadow-hover);
}

.policy-icon {
    width: 50px;
    height: 50px;
    margin-bottom: var(--space-sm);
}

.policy-card h3 {
    font-family: var(--font-header-family);
    font-size: calc(var(--font-size-base) * 1.25);
    margin-bottom: var(--space-sm);
    color: var(--accent-color-red);
}

.policy-card p {
    font-size: calc(var(--font-size-base) * 0.9);
    line-height: 1.6;
}

/* Responsive Design */
@media screen and (min-width: 769px) {
    .policies-grid {
        grid-template-columns: 1fr 1fr;
        gap: var(--space-lg);
    }

}

@media screen and (max-width: 768px) {
    :root {
        --font-size-base: 16px;
        --font-size-large: 30px;
    }



    .policies-grid {
        grid-template-columns: 1fr;
        gap: var(--space-md);
    }

    .policy-card {
        padding: var(--space-md);
        font-size: calc(var(--font-size-base) * 0.8);
    }

    .policy-icon {
        width: 40px;
        height: 40px;
    }

    .policy-card h3 {
        font-size: calc(var(--font-size-base) * 1.1);
    }

    .policy-card p {
        font-size: calc(var(--font-size-base) * 0.8);
    }
}
  /* Default styles for the iframe */
  iframe {
    width: 560px;
    height: 315px;
  }

  /* Media query for screens smaller than 560px */
  @media (max-width: 559px) {
    iframe {
      width: 100%;
      height: 300px;
    }
  }